[submodule "Plugin/Sitemap"]
	path = Plugin/Sitemap
	url = git://github.com/loadsys/CakePHP-Sitemap.git
[submodule "Plugin/Upload"]
	path = Plugin/Upload
	url = git://github.com/josegonzalez/cakephp-upload.git
	branch = master
[submodule "app/Plugin/Recaptcha"]
	path = app/Plugin/Recaptcha
	url = git@github.com:CakeDC/recaptcha.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = git://github.com/josegonzalez/cakephp-upload.git
	branch = master
